.text-align{
  text-align: center;
  color: #f7325e;
}

body{
  background-color:    #4a235a;
  background-image: url('africa-animal-animals-417142.jpg');

}

.unordered-intro{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-links{
  float: left;
}

li a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #ffffff
}
   
.tropical{
  color: #7dc410;
  font-family: fantasy;
}

.popular{
  color:  #3999DC;
  font-family: sans-serif;
}

.destinations-p{
  color: white;
}
